<ion-header-bar class="bar-stable">
  <h1 class="title">Question {{data.id}}</h1>
</ion-header-bar>
<ion-content>
  <div class="action-sheet">
    <a href ng-click="back()" class="button button-full button-energized">back</a>
  </div>
  <div class="row header">
    <div class="col">Id</div>
    <div class="col">Title</div>
    <div class="col">Description</div>
    <div class="col">Author</div>
    <div class="col">Action</div>
  </div>
  <div class="row">
    <div class="col">{{data.id}}</div>
    <div class="col">{{data.title}}</div>
    <div class="col">{{data.description}}</div>
    <div class="col">{{data.author}}</div>
    <div class="col">
      <button class="button" ng-click="openModal()">Edit</button>
    </div>
  </div>
</ion-content>
