<ion-header-bar class="bar-stable">
  <h1 class="title">Questions</h1>
</ion-header-bar>
<ion-content>
  <div class="action-sheet">
    <button class="button button-full button-energized" ng-click="openModal()">Add</button>
  </div>
  <div class="row header">
    <div class="col">Id</div>
    <div class="col">Title</div>
    <div class="col">Description</div>
    <div class="col">Action</div>
  </div>
  <div class="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="(key, data) in data">
    <div class="col" ng-click="showQuestion({{data.id}})">{{data.id}}</div>
    <div class="col" ng-click="showQuestion({{data.id}})">{{data.title}}</div>
    <div class="col" ng-click="showQuestion({{data.id}})">{{data.description}}</div>
    <div class="col">
      <button class="button" ng-click="deleteQuestion({{key}})">Delete</button>
    </div>
  </div>
</ion-content>
