/* Empty. Add your own CSS if you like */

.odd {
  color:#000000;
  background-color:#EAF2D3;
}

.header{
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}

.slide-in-up.ng-enter-active{
  height: 220px;
}
